.cards-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.id-card{
  width: 400px;
  display: flex;
  gap: 20px;
}

.isStudent{
  border: solid 5px red;
}

.isTeacher{
  border: solid 5px blue;
}

.picture{
  height: 200px;
  width: 200px;
}